In [1]:
import pandas as pd
import numpy as np

In [9]:
pd.read_csv('nba_contracts_2024.csv')

,Rk,Player,Tm,2023-24,2024-25,2025-26,2026-27,2027-28,2028-29,Guaranteed
0,1,Stephen Curry,GSW,"$51,915,615","$55,761,216","$59,606,817",NaN,NaN,NaN,"$167,283,648"
1,2,Kevin Durant,PHO,"$47,649,433","$51,179,021","$54,708,609",NaN,NaN,NaN,"$153,537,063"
2,3,Nikola Jokić,DEN,"$47,607,350","$51,415,938","$55,224,526","$59,033,114","$62,841,702",NaN,"$213,280,928"
3,4,Joel Embiid,PHI,"$47,607,350","$51,415,938","$55,224,526","$59,033,114",NaN,NaN,"$154,247,814"
4,5,LeBron James,LAL,"$47,607,350","$51,415,938",NaN,NaN,NaN,NaN,"$47,607,350"
...,...,...,...,...,...,...,...,...,...,...
557,558,Matthew Hurt,MEM,NaN,NaN,NaN,NaN,NaN,NaN,"$64,343"
558,559,Pete Nance,CLE,"$64,343",NaN,NaN,NaN,NaN,NaN,"$64,343"
559,560,Malik Williams,TOR,"$77,212",NaN,NaN,NaN,NaN,NaN,"$77,212"
560,561,Kai Jones,LAC,"$3,175,563","$2,196,970",NaN,NaN,NaN,NaN,"$11,608"
561,562,Usman Garuba,GSW,"$2,600,008",NaN,NaN,NaN,NaN,NaN,"$11,608"

In [18]:
def player_contracts(filepath):
    df = pd.read_csv(filepath)
    df = df.fillna(0.0)
    for col in df.iloc[:, 3:10].columns:
        df[col] = df[col].replace('[\$,]', '', regex=True).astype(int)

    current_season = df.iloc[:, 3:10].columns[0]
    next_season = df.iloc[:, 3:10].columns[1]

    indicator_col = f"{current_season}_contract_year"

    # Contract year indicator: 1 if salary > 0 this year and salary = 0 next year
    df[indicator_col] = (df[current_season].astype(float) > 0) & (df[next_season].astype(float) == 0)

    df[indicator_col] = df[indicator_col].astype(int)
    return df

player_contracts('nba_player_contracts/nba_contracts_2024.csv').to_csv('nba_player_contracts/nba_contracts_2024_updated.csv', index=False)
player_contracts('nba_player_contracts/nba_contracts_2025.csv').to_csv('nba_player_contracts/nba_contracts_2025_updated.csv', index=False)

<>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
/var/folders/kk/xndsxk6n7js53cqtn6q1fjkm0000gn/T/ipykernel_11882/2822517445.py:5: SyntaxWarning: invalid escape sequence '\$'
  df[col] = df[col].replace('[\$,]', '', regex=True).astype(int)

In [19]:
# Create 'Years of Experience' Feature
seasons = list(range(2002, 2025))
player_first_year = {}

for year in seasons:
    df = pd.read_csv(f"nba_merged_stats/nba_merged_{year}.csv")
    players = df['Player'].dropna().unique()
    for player in players:
        if player not in player_first_year:
            player_first_year[player] = year

for target_year in [2023, 2024]:
    df = pd.read_csv(f"nba_merged_stats/nba_merged_{target_year}.csv")
    df['Experience'] = df['Player'].map(lambda x: (target_year + 1) - player_first_year.get(x, target_year))
    df.to_csv(f"players_{target_year}_merged_with_experience.csv", index=False)

In [ ]:
# Indicators from Awards